<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>

    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <style>
  	body {
  
}

</style>
<div class="row" style="padding-top: 180px;">
<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" >
<div class="panel panel-info">
<div class="panel-heading">
 <p style="text-align: center ; color: black ; font-size: 30px; font-family: bold">Sign Up</p>
</div>
<div class="panel-body">

<div class="form-group">
<label style="color: #61122f">Name</label>
<input class="form-control" type="text" name="name" required autocomplete="off" />
</div>

<div class="form-group">
<label style="color: #61122f">Contact No.</label>
<!--<input class="form-control" type="tel" name="contact" required autocomplete="off" />-->
<input class="form-control" type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
</div>

<div class="form-group">
<label style="color: #61122f">Email</label>
<input class="form-control" type="text" name="emailid" required autocomplete="off" />
</div>
<div class="form-group">
<label style="color: #61122f">Password</label>
<input class="form-control" type="password" name="password" required autocomplete="off"  />

</div>


 <button type="submit" name="signup" class="btn btn-info">Signup</button>
 <!--<button type="submit" name="registered" class="btn btn-info" href="login.html">Already Registered</button>-->
 <a href="login.html">Already Registered?</a>
</form>
 </div>
</div>
</div>
</div>